<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="utf-8">
<title>string_to_html</title>
<meta name="description" content="Gem string_to_html">
</head>
<body>
<form class="form-horizontal">
  <fieldset>

    <!-- Form Name -->
    <legend>Form Name</legend>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput">Введите имя нового питомца</label>
      <div class="col-md-4">
        <input id="textinput" name="textinput" type="text" placeholder="Имя" class="form-control input-md">

      </div>
    </div>

    <!-- Multiple Radios -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="Тип питомца">Тип питомца</label>
      <div class="col-md-4">
        <div class="radio">
          <label for="Тип питомца-0">
            <input type="radio" name="Тип питомца" id="Тип питомца-0" value="1" checked="checked">
            Земляной червь
          </label>
        </div>
        <div class="radio">
          <label for="Тип питомца-1">
            <input type="radio" name="Тип питомца" id="Тип питомца-1" value="2">
            Гипопотам
          </label>
        </div>
        <div class="radio">
          <label for="Тип питомца-2">
            <input type="radio" name="Тип питомца" id="Тип питомца-2" value="3">
            Еж
          </label>
        </div>
      </div>
    </div>

    <!-- Button -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="singlebutton">Single Button</label>
      <div class="col-md-4">
        <button id="singlebutton" name="singlebutton" class="btn btn-primary">Создать</button>
      </div>
    </div>

  </fieldset>
</form>

</body>
</html>'